
body{
    height: 100vh;
    width: 100vw;
    background: url('./../images/background.jpg')  no-repeat  center;
    background-size: cover;
    font-size: 16px;
}

main{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}


.create-post{
    width: 60%;
    background-color: white;
    padding: 20px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}

form > textarea{
    min-height: 360px;
    max-height: 360px;
    min-width: 100%;
    max-width: 100%;
    background: #eee;
    border: none;
}
form > textarea:focus{
    outline: none;
    border: none;
}

.create-post-btn,.post-btn {
    border: 2px solid #ccc;
    color: black;
    font-size: 16px;
    padding: 10px 15px;
    background: rgb(225, 211, 17);
}

/*----------------postlist.css-------------------*/
