.post{
    width: auto;
    margin: 0 10px;
    padding: 10px;
    
}

.post-title{
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
}
#post-title-edit{
    font-size: 16px;

    width:95%;
    padding: 10px;
    margin: 10px auto;

    border: 1px solid red;

}
.post-auth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-response{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.user-comment{
    height: 70px;
    width: 60%;
}

button{
    width: fit-content;
    background: red;
    
}

.edit-post,.post-save{
    display: none;
}

.active{
    display: block;
}

.like-btn{
    display: block;
}

.post-btn{
    box-shadow: 0px 3px 6px rgb(255, 124, 124);
    background-color: red;
    transform:perspective(1px) scale(1);
    transition: all 0.5s;
}
.post-btn:hover{
    box-shadow: 0px 5px 10px rgb(255, 124, 124);
    transform:perspective(1px) scale(1.03);

}