.post{
    width: auto;
    margin: 0 10px;
    padding: 10px;
    box-sizing: border-box;
    
}

.post-title{
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    border: 1px solid transparent;
}

.post-auth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-response{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.user-comment{
    height: 70px;
    width: 60%;
}



.edit-post,.post-save{
    display: none;
}

.active{
    display: block;
}

.like-btn{
    display: block;
}

.post-btn{
    width: fit-content;
    box-shadow: 0px 3px 6px rgb(255, 124, 124);
    background-color: red;
    transform:perspective(1px) scale(1);
    transition: all 0.5s;
}
.post-btn:hover{
    box-shadow: 0px 5px 10px rgb(255, 124, 124);
    transform:perspective(1px) scale(1.03);

}

.post-description{
    padding: 10px;
    border: 1px solid transparent;
}
.comment-container{
    margin-top: 15px;
    background: #ccc;
    padding: 10px;
    width:60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: none;
}

.comment-container>p{
    background-color: white;
    padding: 10px;
}

.edit{
    border: 1px red solid;
}